<br>
<% post.comments.forEach(function (comment, index) { %>
    <p>
        <a href="/u/<%= comment.name%>"><%= comment.name %></a>
        <span class="info"> 回复于 <%= comment.time %></span>
    </p>
    <p><%- comment.content %></p>
<% }) %>

<form method="post" action="/u/<%= post._id %>" class="form-horizontal">
<% if (user) { %>
    姓名：<input type="text" name="name" value="<%= user.name %>" readonly/>
    邮箱：<input type="text" name="email" value="<%= user.email %>" /><br /><br />
    <!--网址：<input type="text" name="website" value="/u/<%= user.name %>" /><br />-->
    <textarea name="content" rows="5" cols="80"></textarea><br />
    <button class="btn btn-info" type="submit" value="留言" />留言</button>
<% } else { %>
    <p class="tips">登录后可评论！</p>
<% } %>
</form>
