<%- include header %>
<div class="container edit-article">
    <h1>编辑文章</h1>
    <div class="row">
        <div class="col-sm-12 blog-main">
          <form method="post" action="/edit/<%= post._id %>">
              标题：<br />
              <input type="text" name="title" value="<%= post.title %>"/><br />
              <div class="tags">
                标签：<br />
                <input type="text" name="tag1" value="<%= post.tags[0] %>"/>
                <input type="text" name="tag2" value="<%= post.tags[1] %>"/>
                <input type="text" name="tag3" value="<%= post.tags[2] %>"/><br />
              </div>
              正文：<br />
              <textarea><%= post.post %></textarea><br />
              <button type="submit" class="btn btn-info">发表</button>
          </form>
        </div><!-- /.blog-main -->
    </div>
</div>
<%- include footer %>
