<%- include header %>
<div class="blog-banner">
    <div class="container">
        <ul class="clearfix">
            <li>
                <a href="/">首页</a>
            </li>
            <% if (user) { %>
            <li>
                <a href="/post">写新文章</a>
            </li>
            <% } %>
            <li>
                <a href="/tags">文章标签</a>
            </li>
            <li>
                <a href="/archive">文章存档</a>
            </li>
            <li class="active">
                <a href="/hot">热门文章</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">
            <% posts.forEach(function (post, index) { %>
                <% if (index < 10) { %>
                <div class="blog-post">
                    <h2 class="blog-post-title">
                        <a href="/p/<%= post._id %>">
                        <% if (post.reprint) { %>
                            <span class="icon icon-reprint"></span>
                        <% } %>
                            <%= post.title %>
                        </a>
                    </h2>
                    <p class="blog-post-meta">
                        作者：<a href="/u/<%= post.name %>"><%= post.name %></a> |
                        日期：<%= post.time.minute %> |
                        标签：
                        <% post.tags.forEach(function (tag, index) { %>
                            <% if (tag) { %>
                                <a class="tag btn btn-info btn-xs" href="/tags/<%= tag %>"><%= tag %></a>
                            <% } %>
                        <% }) %>
                    </p>
                    <p><%- post.post %></p>
                    <p class="blog-post-meta">
                        阅读：<%= post.pv %> |
                        评论：<%= post.comments.length %> |
                        转载：
                        <% if (post.reprint_info.reprint_to) { %>
                            <%= post.reprint_info.reprint_to.length %>
                        <% } else { %>
                            <%= 0 %>
                        <% } %>
                    </p>
                </div>
                <%}%>

            <% }) %>
        </div><!-- /.blog-main -->
        <%- include sidebar %>
    </div>
</div>
<%- include footer %>
